# Ignore These
..tmp_kallsyms1.o.cmd
..tmp_kallsyms2.o.cmd
..tmp_vmlinux1.cmd
..tmp_vmlinux2.cmd
.config
.config.old
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
.vmlinux.cmd
.vmlinux.o.cmd
Makefile
Module.symvers
System.map
arch/
block/
crypto/
drivers/
firmware/
fs/
include/
init/
ipc/
kernel/
lib/
mm/
modules.builtin
modules.order
net/
scripts/
security/
sound/
source
usr/
virt/
vmlinux
